<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-default navbar-fixed-top" style="background-color: orangered;" >
  <ul class="nav navbar-nav" style="color: black;">
    <li>
      <a [routerLink]='["/feed"]' >test page</a>
    </li>
    <li>
      <a [routerLink]='["/feed"]' >test page</a>
    </li>
    <li>
      <a [routerLink]='["/feed"]' >test page</a>
    </li>
    <li>
      <a [routerLink]='["/feed"]'>test page</a>
    </li>

  </ul>
</div>


<!--here is where the components are placed-->
<div>
  <router-outlet></router-outlet>
</div>

