<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-default">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]='["/feed"]'>feed</a>
        </li>
        <li>
          <a [routerLink]='["/story"]'>Submit</a>
        </li>
        <li>
          <a [routerLink]='["/feed"]'>test page</a>
        </li>
        <li>
          <a [routerLink]='["/login"]'>login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--here is where the components are placed-->
<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
